@charset "UTF-8";
/* CSS Document */
body{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-align: center;
	font-size: 1.125em;
	background-color: pink;
	line-height: 150%;
	background: url("img/yosemitewoods.jpg") no-repeat;
    background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0;
 
}

h1{
	color: #fc8068;
	font-size: 10vw;
	font-weight: normal;
	margin-top: 100px;	
	}
	
/* IMAGES */
	

img.profpic{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 15px 15px 15px;
	border: 10px solid #fc8068;
}

img.map{
	width: 100%;
	margin: 5% auto 150px;
}

a:hover{
	color: #000;
	}

div{
	width: 70%;
	margin: 0 auto;
}

#title{
	clear: both;
	display: block;
	height: 35px;
	width: 100%;
	float: none;
	background-color: rgba(255,255,255,.7);
	text-align: center;
	padding-top: 5px;
	margin-top: 25px;
	color: #fc8068;

	}

#about{
	margin: 0 auto;
	text-align: left;
	color: white;
	background-color: rgba(252,128,104,.3);
	padding: 15px;
}



/* FOOTER */


	  
footer{
	color: white;
	background-color: #fc8068;
	margin: 20px 0 0 0;
	text-align: center;
	font-size: .8em;
	position:fixed;
	bottom: 0;
	width: 100%;
	}

footer a{
	text-decoration: none;
	color: inherit;
	}

ul#contact{
	list-style-type: none;
	margin: 0 auto;
	padding: 10px;
}

li{
	display: inline;
	padding: 0px 10px 0px 10px;
}
  
.social-icon{
	width: 20px;
	margin: 0 5px;
	padding: 0 .5%;
}

#contact{
	background: none;
	}


/* FOR MOBILE */	  

@media screen and (max-width: 599px){
	h1{
		font-size: 10vw;	
	}
	div{
		padding: 0;
		margin: 0 auto;
		float: none;
	}
	#about{
		max-width: 100%;	
		margin: 15px auto;
	}
	
	#map{
		min-width: 400px;
		}
	
	body{
		font-size: .9em;	
	}
	img.profpic{
		height: 200px;
		width: 200px;
		margin: 0 auto;
		float: none;
	}
	
		
}


/* FOR DESKTOP */

@media screen and (min-width: 1055px){
	
	h1{
		font-size: 6.6vw;
	}
	
	img.profpic{
		float: left;
		margin: 0 4.42%;
	}
	
	#about{
		max-width: 600px;
		float: right;
		margin: 0 4.42% 0 0;
		padding: 15px;
		clear: right;	
	}
	
	#title{
		margin-top: 15px;
		float: right;
		}
	
	#map{
		max-width: 900px;	
	}
	
	

	

}




