$grey: #333;
$dark-grey: #eee;
$darker-grey: #aaa;
$top-padding: 30px;

$accent: #160BFD;

$serif: 'Playfair Display', serif;
/*$sans-serif: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
$monospace: "Courier New", Courier, monospace;


body {
	color: $grey;
	text-align: center;
}

header{
	height: 30vh;
	padding-top: 100px;
}

section{
	width: 100%;
	padding-top: $top-padding;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: $monospace;
}

.project-container{
	padding-top: 200px;
}

a{
	color: $accent;
	text-decoration: none;
	&:hover{
		color: $accent;
	}
}


/*  --------  TYPOGRAPHY   --------  */

#logo{
	font-family: $serif;
	font-weight: 900;
	
}

.header{
	font-family: $serif;
	margin-bottom: 45px;
}


/*  --------  NAVIGATION  --------  */


ul.menu{
	padding: 15px;
}

div.menu {
	border-top: 1px solid $darker-grey;
	border-bottom: 1px solid $darker-grey;
	text-align: center;
}

.menu li{
	display: inline-block;
	position: relative;
	padding: 0 10%;
	text-transform: lowercase;
	font-size: 1.8rem;
	/*font-weight: 600;
	letter-spacing: 0.4em;
	font-size: 0.8em;*/
	a{
		text-decoration: none;
		color: inherit;
		&:hover{
			color: $accent;
		};
	}
}


/*  --------  ILLUSTRATION  --------  */
/*@-webkit-keyframes leftright{
  0%{left: 90%;}
  50%{left: 10%;}
  100%{left: 90%;}
}*/

#main-illustration img{
	width: 100%;
}


/*  --------  QUOTE  --------  */


.quote{
	font-family: $serif;
	font-weight: 400;
	font-style: italic;
	line-height: 1.5;
	padding: 20px 0 150px;
}


/*  --------  FOOTER  --------  */


footer{
	background-color: $dark-grey;
	text-align: left;
	padding-top: $top-padding;
}





/*  --------  PORTFOLIO SECTION  --------  */

section.main{
	padding: 0 0 50px;
	min-height: 850px;
}

.project{
	width: 100%;
	img{
		width: 100%;
		cursor: pointer;
	};
	&:hover{
		-webkit-box-shadow:inset 0px 0px 0px 15px $accent;
		-moz-box-shadow:inset 0px 0px 0px 15px $accent;
		box-shadow:inset 0px 0px 0px 15px $accent;
	};
}

.project-details{
	display: none;
	text-align: left;
	font-family: $monospace;
}



@media (max-width: 800px) {
	.quote{
		font-size: 2.8rem;
	}
}

.skills{
	font-family: $serif;
	font-weight: 400;
	padding-top: $top-padding;
	text-align: left;
}

p{
	font-family: $monospace;
}

.title{
	font-family: $serif;
}

.project-details{
	img{
		width: 100%;
	}
}

.adventure-story{
	padding-top: $top-padding;
}


/*  --------  ANIMATION  --------  */

/* Replace the background colors, etc with an image */

.animated-object{
	position: absolute;
	z-index: 150;
}

.macbook{
	left: 15%;
	width: 350px;
	img{
		width: 100%;
	}
}

.moleskine{
	right: 15%;
	width: 350px;
	img{
		width: 100%;
	}
}

.airplane{
	left: 15%;
	width: 350px;
	img{
		width: 100%;
	}
}

.adventure-story{
	text-align: left;
}

.adventure-text{
	position: relative;
	margin-top: -350px;
}

/*  --------  MAP  --------  */
#map{
	position: relative;
	z-index: -1;
	bottom: 325px;
}



/*  --------  CAROUSEL  --------  */

.carousel-wrapper{
	width: 60%;
	position: fixed;
	top: 10%;
	right: 20%;
	z-index: 200;
}

.carousel{
	width: 100%;
	position: relative;
	padding-top: 60%;
	overflow: hidden;
}

.inner{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/*  --------  CAROUSEL ANIMATION STYLES --------  */

.slide{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
}

.slide.active,
.slide.left,
.slide.right{
	z-index: 2;
	opacity: 1;
}

.js-reset-left{left:auto}

.slide.left{
	left: -100%;
	right: 0;
}

.slide.right{
	right: -100%;
	left: auto;
}

.transition .slide.left{left: 0%}
.transition .slide.right{right: 0%}

.transition .slide.shift-right{right: 100%;left: auto}
.transition .slide.shift-left{left: 100%; right:auto}

.transition .slide{
	transition-porperty: right, left, margin;
}

/*  --------  CAROUSEL INDICATORS --------  */

.indicators{
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 4;
	padding: 0;
	text-align: center;
}

.indicators li{
	width: 13px;
	height: 13px;
	display: inline-block;
	margin: 5px;
	background: #fff;
	list-style-type: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.3s ease-out;
}

.indicators li.active{background: $accent}
.indicators li:hover{background-color: $accent}

/*  --------  CAROUSEL ARROWS --------  */

.arrow{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	z-index: 5;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	cursor: pointer;
	transition: border-coler 0.3s ease-out;
}

.arrow:hover{border-color:$accent}

.arrow-left{
	left: 20px;
	transform: rotate(225deg);
}

.arrow-right{
	right: 20px;
	transform: rotate(45deg);
}

/*  --------  CAROUSEL OPTIONAL STYLES --------  */

.slide{
	text-align: center;
	padding-top: 25%;
	background-size: contain;
}

/*h1{
	width:100px;
  height:100px;
  background-color:rgba(146, 45, 141,0.7);
	margin:auto;
  line-height:100px;
	color:#fff;
	font-size:2.4em;
  border-radius:50%;
}*/



/*  --------  CAROUSEL IMAGES  --------  */

#vietnam-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/vietnam.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/vietnam1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/vietnam2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/vietnam3.jpg);
	 }	
  .slide:nth-child(5){
		background-image:url(/images/carousel/vietnam4.jpg);
 	}	
}


#morocco-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/morocco.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/morocco1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/morocco2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/morocco3.jpg);
	 }	
	.slide:nth-child(5){
		background-image:url(/images/carousel/morocco4.jpg);
	 }	
}


#laos-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/laos.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/laos1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/laos2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/laos3.jpg);
	 }	
	.slide:nth-child(5){
		background-image:url(/images/carousel/laos4.jpg);
	 }	
}


#domrep-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/domrep.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/domrep1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/domrep2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/domrep3.jpg);
	 }	
	.slide:nth-child(5){
		background-image:url(/images/carousel/domrep4.jpg);
	 }	
}

#isleroyale-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/isleroyale.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/isleroyale1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/isleroyale2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/isleroyale3.jpg);
	 }	
	.slide:nth-child(5){
		background-image:url(/images/carousel/isleroyale4.jpg);
	 }	
}


#yosemite-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/yosemite.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/yosemite1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/yosemite2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/yosemite3.jpg);
	 }	
	.slide:nth-child(5){
		background-image:url(/images/carousel/yosemite4.jpg);
	 }	
}

#denmark-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/denmark.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/denmark1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/denmark2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/denmark3.jpg);
	 }	
	.slide:nth-child(5){
		background-image:url(/images/carousel/denmark4.jpg);
	 }	
}

#sweden-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/sweden.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/sweden1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/sweden2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/sweden3.jpg);
	 }	
	.slide:nth-child(5){
		background-image:url(/images/carousel/sweden4.jpg);
	 }	
}

#wisconsin-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/wisconsin.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/wisconsin1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/wisconsin2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/wisconsin3.jpg);
	 }	
	.slide:nth-child(5){
		background-image:url(/images/carousel/wisconsin4.jpg);
	 }	
}

#portugal-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/portugal.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/portugal1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/portugal2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/portugal3.jpg);
	 }	
	.slide:nth-child(5){
		background-image:url(/images/carousel/portugal4.jpg);
	 }	
}

#northcarolina-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/northcarolina.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/northcarolina1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/northcarolina2.jpg);
	 }
	.slide:nth-child(4){
		background-image:url(/images/carousel/northcarolina3.jpg);
	 }	
	.slide:nth-child(5){
		background-image:url(/images/carousel/northcarolina4.jpg);
	 }	
}

#whites-carousel{
	display: none;
	.slide:nth-child(1){
		background-image:url(/images/carousel/whites.jpg);
 	}
	.slide:nth-child(2){
		background-image:url(/images/carousel/whites1.jpg);
	}
	.slide:nth-child(3){
		background-image:url(/images/carousel/whites2.jpg);
	 }
}




/*  --------  LIGHTBOX  --------  */

#lightbox {
	position: fixed;
	z-index: 190;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:url(/images/carousel/overlay.png) repeat;
	text-align: center;
}

circle{
	stroke: #000;
	stroke-width: 15px;
	stroke-opacity: 0;
	cursor: pointer;
	fill: $accent;
}