$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';

$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

$top-padding: 30px;

$mainColor: #000;
// $accent: #160BFD;
$accent: #000;

$monospace: "Courier New", Courier, monospace;
$display: "Lydia Bold Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

html {
	font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 1.25;
  color: $mainColor;
}

section{
	width: 100%;
	min-height: 200px;
	padding-top: $top-padding;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


a{
	color: $accent;
	text-decoration: none;
	&:hover{
		color: $accent;
	}
}

// ********************
// typography
// ********************


body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}


.display {
	font-family: $display;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
  letter-spacing: 1px;

}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

blockquote {
  font-size: 2em;
  line-height: 1.25;
}

.x_large {
	@extend .display;
	font-size: 6em;
	margin: 0;
	line-height: 1.1;
	text-align: left;
	opacity: 0;
}

li {
	@extend .display;
	text-align: left;
	font-size: 1.25em;  
}

@media (min-width: $breakpoint-sm) {
	body {
    font-size: 1em;
    line-height: 1.375;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  h4 {
    line-height: 1.22222222;
  }
  blockquote {
    font-size: 2.5em;
    line-height: 1.45833333;
  }
  .x_large {
  	font-size: 10em;
  }
}


@media (min-width: $breakpoint-md) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
  blockquote {
  	font-size: 3.5em;
  	line-height: 1.25;
  }
  .x_large {
  	font-size: 12em;
  }
}

.subtitle {
	border-top: 1px solid $mainColor;
	border-bottom: 1px solid $mainColor;
}


// ********************
// fadeIn
// ********************
@mixin keyframe-fadeIn {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@keyframes fadeIn {
  @include keyframe-fadeIn;
}
@mixin fadeIn( $arg ) {
  $keyframe-name:fadeIn;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}

.fadeIn {
	@include fadeIn( 3s );
	opacity: 1;
}

