$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';

$grey: #333;
$dark-grey: #eee;
$darker-grey: #aaa;
$top-padding: 30px;

// $accent: #160BFD;
$accent: #000;

$monospace: "Courier New", Courier, monospace;
$display: "Lydia Bold Condensed", 'Avenir Next Condensed', 'Helvetica Neue Condensed', 'Arial Narrow', sans-serif;



body {
	color: $grey;
	text-align: center;
}

.lg_title {
	font-family: $display;
	font-weight: bold;
	font-style: normal;
	font-size: 12em;
	margin: 0;
	line-height: 1.1;
	text-align: left;
	text-transform: uppercase;
	opacity: 0;
}

header{
	height: 30vh;
	padding-top: 100px;
}

section{
	width: 100%;
	min-height: 200px;
	padding-top: $top-padding;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: $monospace;
}

a{
	color: $accent;
	text-decoration: none;
	&:hover{
		color: $accent;
	}
}

// ********************
// fadeIn
// ********************
@mixin keyframe-fadeIn {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@keyframes fadeIn {
  @include keyframe-fadeIn;
}
@mixin fadeIn( $arg ) {
  $keyframe-name:fadeIn;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}

.fadeIn {
	@include fadeIn( 3s );
	opacity: 1;
}

